
        * {
            box-sizing: border-box;
        }

        body {
            text-align: center;
        }

        .flex_container {
            display: flex;
            background-color: rgba(72, 74, 74, 0.814);
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            background-color: rgb(246, 241, 214);
            display: flex;
            flex: 1;
        }

        aside {
            background-color: rgba(213, 240, 176, 0.853);
            flex: 1;
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        section {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h2 {
            align-self: center;
            font-weight: lighter;
            font-size: 15pt;
        }

        .section1 {
            display: flex;
            flex-direction: row;
        }

        .div1,
        .div2 {
            margin: 15px;
            flex-basis: 100vh;
            background-color: rgba(246, 219, 149, 0.942);
            word-wrap: break-word;
            min-height: 100px;
        }

        .div3 {

            margin: 15px;
            flex-basis: 100vh;
            background-color: rgba(246, 219, 149, 0.942);
            word-wrap: break-word;
            min-height: 100px;
        }

        footer {
            height: 20vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        header {
            height: 10vh;
        }

        .footer div {

            margin: 15px;
            flex-basis: 100vh;
            background-color: rgba(248, 252, 255, 0.942);
            word-wrap: break-word;
            min-height: 10vh;
        }

        h1,
        h2,
        div {
            font-weight: bold;
            font-size: 15pt;
        }
 