
.container {
    /* grid container */
    display: grid;
    grid-template-areas: " header header"
        "main aside"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 1fr 80px;
    /* decoration */
    background-color: rgb(200, 197, 191);
    height: 100vh;
    text-align: center;


}


.header {
    grid-area: header;
    padding: 10px;
    align-self: center;

}

.main {
    grid-area: main;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;

}



.main_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " one two "
        " three three ";

    align-items: center;


    gap: 1rem;
    margin-right: 20px;
    margin-left: 20px;



}


.one {
    grid-area: one;
    align-self: end;
    padding: 10px;





}

.two {
    grid-area: two;
    align-self: end;
    padding: 10px;

}

.three {
    grid-area: three;
    align-self: start;
    padding: 10px;



}

.main_grid2 div {

    background-color: aliceblue;
    height: 13vh;




}

.aside {
    grid-area: aside;
    background-color: rgb(226, 247, 220);
    padding: 10px;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 7vh;

    justify-content: space-around;
    align-content: space-around;

}

.footer div {
    background-color: azure;
    margin-left: 20px;
    margin-right: 20px;
    word-break: break-all;
    padding: 19px;
    align-self: center;

}
